<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/adminproduc.css">
    
    <link rel="stylesheet" href="css/footer.css">
  
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/paneladmin.css">
    
    
    <title>Administración de Categorias</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-line-up">
                <div class="header-line-up-left">
                    <p>Siguenos</p>
                    <img src="img/icons/ico_twiter.svg">
                    <img src="img/icons/ico_insta.svg">
                    <img src="img/icons/ico_fb.svg">
            
                </div>
                
            </div>
            <hr>
            <div class="header-body">
                <div class="header-banner-navbar">
                    <div class="header-banner-navbar-left">
                        <img src="img/icons/logo.png">
                        <p>Inicio</p>
                        <a href="menu.html">
                            <p>Menu</p>
                        </a>
                    </div>
                    <div class="header-banner-navbar-right">
                        <img src="img/icons/ico_user.svg">
                        <p>ADMINISTRADOR</p>
                    </div>
                </div>
            </div>
        </div>
    </header>    
  




<div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">PANEL ADMINISTRADOR</span>
    </div>
      <ul class="nav-links">
        

        <li>
          <a th:href="@{/adminproduc}" class="active">
            <i class='bx bx-box' ></i>
            <span class="links_name">Admistrar Producto</span>
          </a>


        <li>
          <a href="#">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
      
        </li>
        <li>
          <a th:href="@{/admincate}">
            <i class='bx bx-list-ul' ></i>
            <span class="listadocategorias">Administrar categorias</span>
          </a>
        </li>

         <li>
          <a th:href="@{/estadisticas}">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Estadisticas</span>
          </a>
        </li>
        
        
        <li class="log_out">
          <a href="index.html">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
  
<br>
    <div class="home-content">
      

      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Lista de categorías</div>
          <div class="sales-details">
            <ul class="details">
              <li class="topic">ID</li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
               <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                
               
       
   
            </ul>


            <ul class="details">
            <li class="topic">NOMBRE</li>
            <li><a href="#">Hamburguesa ranchera </a></li>
            <li><a href="#">Hamburguesa cheese </a></li>
            <li><a href="#">Tacos cerdo</a></li>
            <li><a href="#">Hamburdona</a></li>
             <li><a href="#">Pizza dulce</a></li>
             
          </ul>

           <ul class="details">
            <li class="topic">Categoría</li>
            <li><a href="#">Comida </a></li>
            <li><a href="#">Comida </a></li>
            <li><a href="#">comida</a></li>
            <li><a href="#">comida</a></li>
             <li><a href="#">comida</a></li>
             
          </ul>

          <ul class="details">
            <li class="topic">Editar</li>
            <li><div class="botoneditarc">
            <a href="#">Editar</a>
          </div></li>
            <li><div class="botoneditarc">
            <a href="#">Editar</a>
          </div></li>
            <li><div class="botoneditarc">
            <a href="#">Editar</a>
          </div></li>

          
          </ul>
          
          <ul class="details">
            <li class="topic">Eliminar</li>
            <li><div class="botoneliminarc">
            <a href="#">Eliminar </a>
          </div></li>
            <li><div class="botoneliminarc">
            <a href="#">Eliminar </a>
          </div></li>
            <li><div class="botoneliminarc">
            <a href="#">Eliminar </a>
          </div></li>
         
      
          </ul>
          </div>
          <div class="button">
           <!-- AQUI VA   <a href="#">See All</a>           -->
          </div>
        </div>
        
        <form class="top-sales box">
        <div>
          <div class="title">Editar o Agregar Producto</div>
          <ul class="top-sales-details">
            







            <li> 
        <div class="name">
      <label for="name"></label>
     <input type="text" placeholder="ID Producto" name="idproducto" id="idproduc_input" required>
       </div>
    <br> 
    <br>
           </li>
          
         <li>
           <div class="name">
           <label for="name"></label>
            <input type="text" placeholder="Nombre producto" name="nombre" id="nombrecat_input" required>
      <br>
    </li>

         <li>
           <div class="name">
          
            <input type="text" placeholder="$" name="valor" id="valorproduc_input" required>
      <br>
    </li>


  <li>
           <div class="name">
            <textarea  rows="3" cols="50" placeholder="URL Imagen" name="url-img-producto" id="imgproduc_input" required></textarea>
    </div>

          </li>
         


         
            

             <li>
           <div class="name">
            <textarea rows="5" cols="50" placeholder="Descripcion" name="descripcion" id="descripcat_input" required></textarea>
    </div>

          </li>


     <li>
            <select name="select">
  <option value="value1">Hamburguesa</option>
  <option value="value2" selected>Perros</option>
  <option value="value3">Pizzas</option>
</select>
          </li>




          <li>
    
             <div type=submit class="botonagregarc">
            <a href="#">Agregar o Guardar </a>
          </div>
          </li>
           
          </ul>
          
        </div>
        </form>
      </div>
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>






 




  

</body>
</html>